<div class="card mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col-10">
        <h5 class="card-title"><%= restaurant_device.name %></h5>
        <p>
          Device Type:
          <span><%= restaurant_device.device_type %></span>
        </p>
        <p>
          Device Status:
          <span><%= restaurant_device.status %></span>
        </p>
        <p>
          Last updated:
          <span><%= restaurant_device.updated_at %></span>
        </p>
      </div>
      <div class="align-items-center col-2 d-flex justify-content-center">
        <i class="bi bi-circle-fill text-<%= status_color(restaurant_device.status) %>"></i>
      </div>
    </div>
  </div>
</div>
